/* line 1, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}
/* line 5, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown .button-holder {
  padding-top: 10px;
}
/* line 8, ../../compass/sass/layout/_regi-dropdown.scss */
.regi-dropdown .reg-success-wrapper {
  margin: auto;
  text-align: center !important;
  margin-top: 55px;
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
/* other styles */
/* .svg svg {
    display: none
}
 */
/* line 80, ../../compass/sass/layout/_regi-dropdown.scss */
.inlinesvg .svg svg {
  display: inline;
}

/* .svg img {
    display: none
} */
/* line 88, ../../compass/sass/layout/_regi-dropdown.scss */
.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

/* line 93, ../../compass/sass/layout/_regi-dropdown.scss */
.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

/* line 1, ../../../compass/sass/layout/login_dropdown.scss */
/* line 2, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown {
  min-width: 300px;
  margin: 0;
  padding: 20px;
}

/* line 5, ../../../compass/sass/layout/login_dropdown.scss */
/* line 8, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .button-holder {
  padding-top: 10px;
}

/* line 8, ../../../compass/sass/layout/login_dropdown.scss */
/* line 12, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .new-here {
  text-align: center;
  margin-top: 10px;
}

/* line 11, ../../../compass/sass/layout/login_dropdown.scss */
/* line 17, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .new-here p {
  margin-bottom: 0;
}

/* line 16, ../../../compass/sass/layout/login_dropdown.scss */
/* line 21, ../../compass/sass/layout/_login-dropdown.scss */
.login-dropdown .alert {
  height: 38px;
  padding: 9px;
}

/* line 1, ../../compass/sass/layout/_follow-list.scss */
.follow-list {
  max-width: 600px;
  margin: auto;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}
/* line 7, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-title {
  text-align: center;
  margin-bottom: 25px;
}
/* line 10, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-title span {
  font-size: 28px;
}
/* line 16, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user {
  text-align: center;
}
/* line 19, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper:hover > .follow-overlay {
  display: block;
}
/* line 24, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper:hover > .follow-list-avatar {
  opacity: 0.5;
}
/* line 29, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper {
  position: relative;
}
/* line 32, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper .follow-list-avatar {
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  transition: .3s;
}
/* line 39, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-avatar-wrapper .follow-overlay {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50px;
  display: none;
}
/* line 53, ../../compass/sass/layout/_follow-list.scss */
.follow-list .follow-list-user .follow-list-username span {
  color: #666 !important;
}

/* line 1, ../../compass/sass/layout/_post.scss */
.post {
  font-family: 'Indie Flower', cursive;
}
/* line 4, ../../compass/sass/layout/_post.scss */
.post .post-wrapper {
  background-color: #f5f8fa;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 10, ../../compass/sass/layout/_post.scss */
.post .post-wrapper .content p {
  font-size: 20px;
}
/* line 13, ../../compass/sass/layout/_post.scss */
.post .post-wrapper p.votes {
  font-size: 20px;
  color: #00a3cc;
}
/* line 19, ../../compass/sass/layout/_post.scss */
.post .avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* line 25, ../../compass/sass/layout/_post.scss */
.post .username {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}
/* line 31, ../../compass/sass/layout/_post.scss */
.post .text-area {
  padding-top: 10px;
}
/* line 33, ../../compass/sass/layout/_post.scss */
.post .text-area .text {
  border: lightgrey 1px solid;
  background-color: #f5f8fa;
  border-radius: 5px;
  padding-top: 5px;
  font-size: 20px;
}
/* line 42, ../../compass/sass/layout/_post.scss */
.post .new-post input {
  border: none;
  border-radius: 5px;
  background-color: #8c8c8c;
  color: #4ddbff;
  font-size: 18px;
  float: right;
  margin-bottom: 10px;
}
/* line 52, ../../compass/sass/layout/_post.scss */
.post .prompt {
  font-size: 24px;
}

/* line 2, ../../compass/sass/layout/_profile.scss */
.profile h3, .profile p {
  text-align: center;
}
/* line 5, ../../compass/sass/layout/_profile.scss */
.profile img {
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 200px;
}

/* line 15, ../../compass/sass/layout/_profile.scss */
h4 {
  margin-left: 10%;
}

/* line 19, ../../compass/sass/layout/_profile.scss */
.post {
  font-family: 'Indie Flower', cursive;
}
/* line 22, ../../compass/sass/layout/_profile.scss */
.post .post-wrapper {
  background-color: #f5f8fa;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 28, ../../compass/sass/layout/_profile.scss */
.post .post-wrapper .content p {
  font-size: 20px;
}
/* line 31, ../../compass/sass/layout/_profile.scss */
.post .post-wrapper p.votes {
  font-size: 20px;
}
/* line 36, ../../compass/sass/layout/_profile.scss */
.post .avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
/* line 42, ../../compass/sass/layout/_profile.scss */
.post .username {
  font-size: 18px;
  margin-left: 10px;
  font-weight: bold;
}
/* line 48, ../../compass/sass/layout/_profile.scss */
.post .text-area {
  padding-top: 10px;
}
/* line 50, ../../compass/sass/layout/_profile.scss */
.post .text-area .text {
  border: lightgrey 1px solid;
  background-color: #f5f8fa;
  border-radius: 5px;
  padding-top: 5px;
  font-size: 20px;
}

/* line 8, ../../compass/sass/styles.scss */
body {
  background-color: #b3d9ff;
  margin-top: 60px;
  font-family: 'Rock Salt', cursive;
}
/* line 12, ../../compass/sass/styles.scss */
body h1 {
  font-size: 30px;
  text-align: center;
}

/* line 18, ../../compass/sass/styles.scss */
.navbar-fixed-top {
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
/* line 24, ../../compass/sass/styles.scss */
.navbar-fixed-top p.navbar-brand {
  font-size: 20px;
}
/* line 28, ../../compass/sass/styles.scss */
.navbar-fixed-top .glyphicon-picture {
  max-width: 40px;
  margin-top: 12px;
}
/* line 33, ../../compass/sass/styles.scss */
.navbar-fixed-top li.message {
  color: red;
  line-height: 50px;
}

/* line 40, ../../compass/sass/styles.scss */
.about {
  font-family: 'Indie Flower', cursive;
}

/* line 44, ../../compass/sass/styles.scss */
.directions p {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 18px;
}
