{% extends 'layout.html' %}
{% block body %}

<div class='row'>
	<div class='col-sm-12 background'>
		<div class='col-sm-10 col-sm-offset-1'>
				<h1>Wanderlust - Where's On Your Bucket List?</h1>
		</div>
		<img src='/static/images/island.jpg' class='img-responsive'>
	</div>
	<div class='about col-sm-10 col-sm-offset-1'>
		<h3>Everyone has places they want to travel to, tell us where you want to go someday? Where's your wanderlust? Sign up or log in to share your dream travels.</h3>
	</div>
</div>

<div class="follow-list">
        <div class="follow-list-title row">
            <span ng-hide='everyoneFollowed'>Trending Users</span>
            <p ng-show='everyoneFollowed'>You're following everyone!</p>
        </div>
        <div class="row">
            <div class="follow-list-user col-sm-4" ng-repeat='user in users | limitTo: 3 track by $index'>
                <a href="">
                    <div class="follow-list-avatar-wrapper row" ng-click='followUser(user[0], $index)'>
                        <img class="follow-list-avatar" src="{$ user[1] $}">
                        <span class="follow-overlay">FOLLOW</span>
                    </div>
                </a>
                <div class="follow-list-username row">
                    <span>{$ user[2] $}</span>
                </div>
            </div>
    </div>
</div>     

<div class='row'>
	<div class='post'>
		<form id='submit-post-form' ng-submit='newPost()' method='POST'>
			<div class='post-wrapper col-sm-10 col-sm-offset-1'>
				<div>
					<label class='prompt'>Where would you travel?</label>
				</div>
				<div>
					<img class='avatar' src='{$avatar$}'>
					<span class='username'>{$username$}</span>
				</div>	
				<div class='col-sm-8 col-sm-offset-1 text-area'>	
					<textarea class='text form-control' ng-model='content' rows='6'></textarea>
				</div>
				<div class='col-sm-10 col-sm-offset-1 new-post'>
					<input type='submit' value='Post'>
				</div>
			</div>	
		</form>
	</div>	
</div>	

<div class='big-post' ng-repeat='post in posts | orderBy: "$index":true'>	
	<div class='post'>
		<div class='row'>
			<div class='post-wrapper col-sm-10 col-sm-offset-1'>
				<div>
					<img class='avatar' src='{$post[0]$}'>
					<span class='username'>{$post[1]$}</span>
				</div>	
				<div class='col-sm-8 col-sm-offset-1'>
					<p>{$post[2]$}</p>
				</div>
				<div class='col-sm-1 col-sm-offset-1'>
					<div class='vote-up' ng-click='vote()'><span class='glyphicon glyphicon-chevron-up' aria-hidden='true'></span></div>
					<h5>Votes: <span>{$post[3]$}</span></h5>
					<div class='vote-down' ng-click='vote()'><span class='glyphicon glyphicon-chevron-down vote' aria-hidden='true'></span></div>
				</div>
				<div class='col-sm-10'>
					<hr>
					<p>{$post[4]$} * {$post[5]$}</p>
				</div>
			</div>	
		</div>
	</div>
</div>	

	



{% endblock %}	