{% extends 'layout.html' %}
{% block body %}

	<div class='profile row'>
		<h3>User Profile:</h3>
		<img class='profile-avatar' src='{$ avatar $}'>
		<p>{$ username $}</p>
	</div> 

	<div class='row'>
		<h4> {$ username $}'s Posts</h4>
	</div>

	<div class='big-post' ng-repeat='post in posts | orderBy: "$index":true'>	
		<div class='post'>
			<div class='row'>
				<div class='post-wrapper col-sm-10 col-sm-offset-1'>
					<div>
						<img class='avatar' src='{$post[0]$}'>
						<span class='username'>{$post[1]$}</span>
					</div>	
					<div class='col-sm-8 col-sm-offset-1 content'>
						<p>{$post[2]$}</p>
					</div>
						<div class='col-sm-1 col-sm-offset-1 vote-stuff'>
						<div class='vote-up' ng-click='vote( post[7], true)'><span class='glyphicon glyphicon-chevron-up' post-id='{$ post[7] $}' aria-hidden='true'></span></div>
						<p class='votes'><span>{$post[3]$}</span></p>
						<div class='vote-down' ng-click='vote( post[7], false)'><span post-id='{$ post[7] $}' class='glyphicon glyphicon-chevron-down vote' aria-hidden='true'></span></div>
					</div>
					<div class='col-sm-10'>
						<hr>
						<p>{$post[4]$} * {$post[5]$}</p>
					</div>
				</div>	
			</div>
		</div>
	</div>

{% endblock %}